<% content_for :title, "Editing team" %>

<section class="wide-section-small">
  <div class="section-content">
    <h1>Edit <a href="<%=team_path(@team)%>"><%=@team.name%></a></h1>
  </div>
</section>

<section>
  <div class="section-content">
    <%= render "edit_form", team: @team %>
  </div>
</section>

<section class="wide-section">
  <div class="section-content">
    <%= link_to "Show this team", @team %>
  </div>
</section>
