<%if @node_secrets != []%> <%# si il y a des secrets à afficher, défini dans le controller %>
  <section class="wide-section-small">
    <div class="section-content">
      <%if @user_can_edit%>
        <h2>All secrets</h2>
      <%else%>
        <h2>Known secrets</h2>
      <%end%>

    </div>
  </section>
  <%= render "show_secret"%>
<%end%>