<% for secret in @node_secrets do%>
    <section>
        <div class="section-content">
            <h3><%=secret.secret_title%></h3>
            <p><%=secret.secret_content%></p>
        </div>
    </section>
<% end%>