<% for secret in @node_secrets do%>
    <section>
        <div class="section-content">
            <h3><%=secret.secret_title%></h3>
            <p><%=secret.secret_content%></p>
            <%if @user_can_edit%>
                <%= link_to "Edit this secret", edit_secret_path(secret.id) %><br>
            <%end%>
        </div>
    </section>
<% end%>