<% content_for :title, "Editing node" %>

<section class="wide-section-small">
  <div class="section-content">
    <h1>Edit <a href="<%=node_path(@node.id)%>"><%=@node.node_title.capitalize%></a></h1>
  </div>
</section>


<section class="wide-section">
  <div class="section-content">
    <%= render "edit_form", node: @node %>
  </div>
</section>

<section>
  <div class="section-content">
    <%= link_to "Back to reading mode", node_path(@node.id) %>
  </div>
</section>
