<%type = nil%> <%# en gros on vérifie que le node type est dans un format autorisé %>
<%if params[:node_type]%>
  <%type = verify_new_node_format(params[:node_type])%> 
<%end%>

<%world_id = nil%> <%# on vérifie que user a le droit de créer un node dans ce monde %>
<%if params[:world_id] && node_belongs_to_user?(World.find(params[:world_id]).node)%>
  <%world_id = params[:world_id]%>
<%end%>

<section class="wide-section-small">
    <div class="section-content">
      <%if type == nil%>
        <h1>New Node</h1>
        <%# dans ce cas définir plus bas le node type %>
      <%else%>
        <h1>New <%=type%></h1>
      <%end%>
    </div>
</section>

<section>
  <div class="section-content">

    <%if (type != "World" && world_id != nil) || (type == "World" && world_id == nil) %>
      <%= render "form", node: @node, type: type, world_id: world_id %>
    <%else%>
      <p>Access restricted.</p>
    <%end%>

  </div>
</section>
