<%if params[:format]%>
  <%type = verify_new_node_format(params[:format])%> <%# en gros on vérifie que le params est bien un format de node autorisé %>
<%else%>
  <%type = nil%>
<%end%>

<section class="wide-section-small">
    <div class="section-content">
      <%if type == nil%>
        <h1>New Node</h1>
        <%# dans ce cas définir plus bas le node type %>
      <%else%>
        <h1>New <%=type%></h1>
      <%end%>
    </div>
</section>

<section>
  <div class="section-content">
    <%= render "form", node: @node, type: type %>
  </div>
</section>
