<% content_for :title, "Editing premium" %>

<h1>Editing premium</h1>

<%= render "form", premium: @premium %>

<br>

<div>
  <%= link_to "Show this premium", @premium %> |
  <%= link_to "Back to premia", premia_path %>
</div>
