<section class="wide-section-small">
    <div class="section-content">
        <h3>Need help with MD formatting ? </h3>
        <p>Here are the basic concepts.<p>
        <ul>
            <li>Use # at the beginning of the line to create a <strong>title</strong>. Change title weight by doing ##, ### ect.</li>
            <li>For text <strong>styling</strong>, **This is bold**, *This is italic*, _This is underlined_</li>
            <li>Use [Duck Duck Go](https://duckduckgo.com) to do a <strong>link</strong> with a custom name. Or simple paste your link.</li>
            <li>For <strong>images</strong>, do : ![Markdown Logo](https://www.markdownlang.com/markdown-logo.png)</li>
            <li>For <strong>separators</strong>, use ---</li>
            <li>For <strong>blockquotes</strong> : > Your text</li>
            <li>For <strong>lists</strong>, put a - at each new line</li>
        </ul>
        <p>Need more help with MD formatting ? Visit <a href="https://www.markdownguide.org/basic-syntax/">markdownguide.org</a></p><br>
    </div>
</section>