<% for u in w.users do %>
    <% if u == current_user %>
        <%posessed = true%>
    <% end %>
<% end %>

<div class="card-simple">
    <h4><%= w.world_name %></h4>
    <p><%= shorten_text(w.description, 100) %></p>

    <%if posessed%>
        <% if w.teams == []%>
            <p><strong>Private world.</strong></p>
        <%else%>
            <p>
                <strong>Explored by : </strong>        
                <% for t in w.teams do %>
                    <br>- <%= t.name %> 
                <%end%>
            </p>    
        <%end%>
    <%else %>
        <p><strong>Explored with : </strong>
            <%for t in w.teams do%>
                <%for u in t.users do%>
                    <%if u == current_user%>
                        <br>- <%=t.name%>
                    <%end%>
                <%end%>
            <%end%>
        </p>
    <%end %>

    <% if posessed == true %>
        <button class="btn-primary">Manage world</button>
    <% else %>
        <button>See world</button>
    <% end %>
</div>