<section class="wide-section">
    <div class="section-content">
        <h1>Static#dashboard</h1>
    </div>
</section>
<section>
    <div class="section-content">
        <p>Find me in app/views/static/dashboard.html.erb</p>
    </div>
</section>