<section class="wide-section-small">
    <div class="section-content">
        <h1>Dashboard</h1>
    </div>
</section>

<%for w in @my_worlds do%>
    <%= render "world-section", w: w, owned: true %>
<%end%>
<%for w in @explored_worlds do%>
    <%= render "world-section", w: w, owned: false %>
<%end%>

<%# <%render "old_node_render"%>
