<section class="wide-section-small">
    <div class="section-content-center">
        <h1>Dashboard</h1>
        <div class="search-box">
            <input class="big-search">
        </div>
    </div>
</section>

<section> <%# render all nodes (including possessed and explored worlds) as nodes (we ignore world objects)%>
    <div class="grid">
        <% for w in current_user.worlds do %> <%# possessedd worlds %>
            <%= render "nodepreview", node: w.node, posessed: true%>
        <% end%>
        <% for t in current_user.teams do %> <%# explored worlds %>
            <%= render "nodepreview", node: t.world.node, t: t, posessed: false %>
        <% end%>
        <% for n in current_user.nodes do%>
            <% if n.node_type != "World"%>
                <%=render "nodepreview", node: n%>
            <%end%>
        <% end%>
    </div>
</section>

