<section class="wide-section"> <%# La classe wide section prend toute la largeur de l'écran. On peut en faire une convention pour le titre des pages maybe ? %>
    <div class="section-content">
        <h1>Bienvenue sur Tayles</h1>
    </div>
</section>

<section> <%# La section normale prend un espace partagé en largeur avec d'autres sections %>
    <div class="section-content"> <%# Chaque section contient un section content pour être mis au centre et aligné à gauche. %>
        Page d'accueil quand non connecté.
        En gros landing page, avec se connecter / s'inscrire / commencer à voir
    </div>
</section>

<%# Tout est encadré dans une div avec la classe "content" mise dans le application.html.erb %>