<section class="wide-section"> <%# The wide-section class takes up the full width of the screen. Maybe we can make it a convention for page titles? %>
    <div class="section-content">
        <h1>Welcome to Tayles</h1>
    </div>
</section>
<section>
  <div class="section-content">
    <h2>Main Features</h2>
    <div class="grid">
      <div class="card-simple">
        <h4>Create Your Worlds</h4>
        <p>Organize your universes with nodes: locations, characters, events, and objects. Everything is structured to make storytelling easier.</p>
      </div>
      <div class="card-simple">
        <h4>Manage Your Secrets</h4>
        <p>Attach secrets to your nodes and reveal them gradually to your players or teams at the right time.</p>
      </div>
      <div class="card-simple">
        <h4>Player Teams</h4>
        <p>Create teams, add player characters, and easily manage access permissions to information.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="section-content-center">
    <h2>Get Started Now</h2>
    <p style="margin-top: 2rem; text-align: center;">
        Create your account for free and start building your first world.
    </p>
    <div style="display: flex; gap: 1rem; justify-content: center; margin-top: 1rem;">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn-primary", style: "display: inline-block; text-decoration: none; padding: 1rem 2rem; border-radius: 1rem; background-color: var(--action-element); color: var(--bg-dark);" %>
      <%= link_to "Log In", new_user_session_path, style: "display: inline-block; text-decoration: none; padding: 1rem 2rem; border-radius: 1rem; background-color: var(--bg-very-dark); color: var(--item-white);" %>
    </div>
    <p style="margin-top: 2rem; font-size: 0.9rem; text-align: center;">
      <%if current_user%>
        <%= link_to "Learn more about our Premium offers", "/premium" %> to create unlimited worlds.
      <%else%>
        <%= link_to "Learn more about our Premium offers", "/users/sign_up" %> to create unlimited worlds.
      <%end%>
    </p>
  </div>
</section>