<section class="wide-section">
  <div class="section-content section-content-center">
    <h1>Go Premium</h1>
    <p class="lead">Upgrade to Premium to remove limits and unlock advanced features for your worlds and campaigns.</p>
    <p>With Tayles Premium, you can create an unlimited number of worlds, manage advanced teams, and access administration and export tools.</p>
  </div>
</section>
<section>
  <div class="section-content">
    <h2>Key Benefits</h2>
    <ul>
      <li>Unlimited world creation</li>
      <li>Backups and JSON/other format exports of your worlds (feature in development)</li>
    </ul>
  </div>
</section>
<section>
  <div class="section-content">
    <div class="grid">
      <div class="card-simple">
        <h4>Premium Offer</h4>
        <p>€4.99 / year</p>
        <p>Access all Premium features and create an unlimited number of worlds.</p>
        <%= button_to "Get premium now", checkout_path, method: :get, class: "btn-primary" %>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="section-content">
    <h2>Questions?</h2>
    <p>Contact us: <a href="mailto:contact@tayles.com">contact@tayles.com</a></p>
  </div>
</section>
