<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UI Kit - Tayles</title>
    <link rel="stylesheet" href="stylesheet.css"/>
</head>
<body>
    <section class="wide-section">
        <div class="section-content">
            <h1>This is the Tayles UI Kit page</h1>
            <p>This is the new <strong>"wide-section"</strong> class</p>
            <p>Le header et footer ont été supprimés de cette page de thème et intégrés directement dans le application.html.erb</p>
        </div>
    </section>
    <section>
        <div class="section-content">
            <h1>Tayles UI Kit</h1>
            <p>This is the simple "section"</p>
            <p class="lead">This is the beginning of a nice thing. This is a LEAD statement.</p>
            <p>A bit of lorem just to have some fun yes nice ! That's very nice, very cool. Very functionnal but a bit long to type lol thanks for the attention?</p>
            <h2>Welcome webpage</h2>
            <p>A bit of lorem just to have some fun yes nice ! That's very nice, very cool. Very functionnal but a bit long to type lol thanks for the attention?</p>
            <h3>Interesting element</h3>
            <p>A bit of lorem just to have some fun yes nice ! That's very nice, very cool. Very functionnal but a bit long to type lol thanks for the attention?</p>
            <h4>Section</h4>
            <p>A bit of lorem just to have some fun yes nice ! That's very nice, very cool. Very functionnal but a bit long to type lol thanks for the attention?</p>
            <h5>Element</h5>
            <p>A bit of lorem just to have some fun yes nice ! That's very nice, very cool. Very functionnal but a bit long to type lol thanks for the attention?</p>
            <h6>Never used H6 in my whole life</h6>
            <p>A bit of lorem just to have some fun yes nice ! That's very nice, very cool. Very functionnal but a bit long to type lol thanks for the attention?</p>
        </div>
    </section>

    <section>
        <div class="section-content">
            <h2>Someone once said...</h2>
            <p>Something like this :</p>
            <blockquote>To be lord is to be nice only when the sun rises.</blockquote>
            <p>The solutions to global fun crisis are :</p>
            <ul>
                <li>Try to be fun</li>
                <li>Try to make things fun</li>
                <li>Try to eat the fun</li>
                <li>Attach files to promote fun</li>
            </ul>
            <ol>
                <li>Try to be fun</li>
                <li>Try to make things fun</li>
                <li>Try to eat the fun</li>
                <li>Attach files to promote fun</li>
            </ol>
            <p>Another paragraph to say that all this is very nicely done and we are careful about what everyone thinks.</p>
        </div>
    </section>

    <section>
        <div class="section-content">
            <h2>Group lists</h2>
            <div class="group-list">
                <p>first paragraph of my group list</p>
                <p class="active-p">second (active) paragraph of my group list</p>
                <p><a href="#">third paragraph</a> of my group list</p>
            </div>
            <h2>Mini group lists</h2>
            <div class="group-list-mini">
                <p class="active-p">first (active) paragraph of my group list</p>
                <p>second paragraph of my group list</p>
                <p><a href="#">third paragraph</a> of my group list</p>
            </div>
        </div>
    </section>

    <section>
        <div class="section-content">
            <h2>Now, the buttons.</h2>
            <div class="center">
                <button type="button">Classic button</button> 
                <button class="btn-primary" type="button">Primary</button> 
                <button class="btn-warning" type="button">Warning</button> 
                <button class="btn-danger" type="button">Danger</button> 
                <button class="btn-info" type="button">Info</button> 
                <button class="btn-success" type="button">Success</button> 
                <button class="btn-outline" type="button">Outlined</button>
                <button class="btn-lg" type="button">Large button</button>
                <button class="btn-sm" type="button">Small button</button>
            </div>
        </div>
    </section>

    <section>
        <div class="section-content">
            <h2>Now, the forms</h2>
            <form action="/action_page.php">
                <div class="form-label-input">
                    <label for="username">Username :</label>
                    <input type="text" id="username" name="username">
                </div>
                <div class="form-label-input">
                    <label for="email">email :</label>
                    <input type="text" id="email" name="email">
                </div>
                <div class="form-label-text">
                    <label for="description">Description : </label>
                    <textarea id="description">some text</textarea>
                </div>
                <div>
                    <input type="radio" name="lordness" value="lord">
                    <label for="lordness">lord</label><br>
                    <input type="radio" name="lordness" value="lordress">
                    <label for="lordness">lordress</label><br><br>
                </div>
                <div>
                    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                    <label for="vehicle1"> I have a bike</label><br>
                    <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                    <label for="vehicle2"> I have a car</label><br>
                    <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                    <label for="vehicle3"> I have a boat</label><br><br>
                </div>
                <div class="center">
                    <select name="desired use">
                        <option value="Select">Select a reason...</option>
                        <option value="Creating worlds">Creating worlds</option>
                        <option value="Joining parties">Joining parties</option>
                        <option value="I don't know">I don't know</option>
                    </select> 
                    <button class="btn-success" type="button">Submit</button>
                </div>
            </form>
        </div>
    </section>

    <section>
        <div class="section-content">
            <h2>Nice cards...</h2>
            <div class="grid">
                <div class="card-simple">
                    <h4>card-simple</h4>
                    <p>Card text, yes very cool nice cool yes very super nice card text nice omg that quite nice yes haha hahahahahaha hahahahahah ahahahha</p>
                    <button>Hello</button>
                </div>
                <div class="card-simple">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.britannica.com%2F51%2F93451-050-4C57C2D5%2FShrek-sidekick-Donkey.jpg&f=1&nofb=1&ipt=dc44f4839fb3679b41a9bd6bf3153eb5c750c2c113f1288e9d2e1e5c9f4abc35" alt="shrek boi">
                    <h4>card-simple</h4>
                    <p>Card text, but this time with an image ! yes very cool nice cool yes very super nice card text nice omg that quite nice yes haha hahahahahaha hahahahahah ahahahha</p>
                    <button>Hello</button>
                </div>
                <div class="card-simple">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic1.moviewebimages.com%2Fwordpress%2Fwp-content%2Fuploads%2F2024%2F08%2Fshrek.jpg&f=1&nofb=1&ipt=4e6d43e80f33fe214262f62c38292a5efedf6780b25411aada3ed336337e9b5c" alt="shrek boi">
                    <p>Hello, this is a simple card with only an image and a paragraph. This is also done using the same card-simple class</p>
                </div>
                <div class="card-image">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages.alphacoders.com%2F500%2Fthumb-1920-500310.jpg&f=1&nofb=1&ipt=1b40dcc7c27dd0a27a48acaf7538e34aa92405e4048b323764ce3f055b4c5ba3" alt="shrek also">
                    <h4>Only this</h4>
                </div>
                <div class="card-hor">
                    <img src="Images/pen.png" alt="pen">
                    <div>
                        <h4>Right title</h4>
                        <p>Some text to talk about this logo that i didnt made lol</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>