<footer> <%# Les div s'agencent toutes seules en space between %>
    <div>
        <p>A project by Pablo MASIP and Joseph LOGAN.</p>
        <p>Tous droits réservés.</p>
    </div>
    <div>
        <p>Visit our <a href="https://github.com/Sylphux/Tayles">GitHub page</a></p>
    </div>
</footer>