    <footer> <%# Les div s'agencent toutes seules en space between %>
        <div>
            <p>A project by Pablo MASIP and Joseph LOGAN.</p>
            <p>Tous droits réservés.</p>
        </div>
        <div>
            <p>Contact us :</p>
            <ul>
                <li><a href="mailto:Contact@Tayles.com">Contact@Tayles.com</a></li>
                <li><a href="tel:+33123456789">01 23 45 67 89</a></li>
            </ul>
        </div>
        <div>
            <p>Visit our <a href="https://github.com/Sylphux/Tayles">GitHub page</a></p>
        </div>
    </footer>
